<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/5/sandstone/bootstrap.min.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/layout.css') }}">
    <title>Planificacion Ensayos Telenovela</title>

</head>

<body>

    <div id="particles-js"></div>

    <div class="container pt-5">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid text-center">

                <h1 class="display-5 fw-bold mb-4">Planificación De Los Ensayos De Una Telenovela</h1>
                {% block body %}

                {% endblock %}
            </div>
        </div>

        <footer>
            <p class="text-center text-muted mb-0"> © Julio de 2022</p>
        </footer>

    </div>

    <!-- Scripts-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script src="{{url_for('static', filename='js/main.js')}}"></script>

    <script src="{{url_for('static', filename='js/particles.min.js')}}"></script>

    <script src="{{url_for('static', filename='js/particles-js.js')}}"></script>

</body>

</html>